* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family:
    Maple Mono,
    serif;
  font-size: 14px;
}

button {
  border: 0;
  border-radius: 0;
}

window#waybar {
  color: #eddbb2;
  background-color: #282828;
}

#workspaces button {
  text-shadow: none;
  box-shadow: none;
  transition: none;
  -gtk-icon-shadow: none;
  -gtk-icon-effect: none;
  padding: 0 4px;
  background-color: transparent;
  color: #ffffff;
  border-top: 2px;
  border-bottom: 2px;
  border-style: solid;
  border-top-color: #282828;
  border-bottom-color: #282828;
}

#workspaces button.focused,
#workspaces button.active {
  color: #282828;
  background: #fabd2f;
  border-top-color: #fabd2f;
}

#workspaces button.urgent {
  background-color: #cc241d;
}

#clock,
#battery,
#backlight,
#pulseaudio,
#wireplumber,
#tray,
#power-profiles-daemon {
  padding: 0 10px;
  color: #ffffff;
}

#window,
#workspaces {
  margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

#clock {
}

#battery {
}

#battery.charging,
#battery.plugged {
  /* color: #ffffff; */
  /* background-color: #26a65b; */
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
  background-color: #f53c3c;
  color: #ffffff;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#power-profiles-daemon {
}

#power-profiles-daemon.performance {
}

#power-profiles-daemon.balanced {
}

#power-profiles-daemon.power-saver {
}

label:focus {
  background-color: #000000;
}

#backlight {
  background-color: #90b1b1;
}

#pulseaudio {
}

#pulseaudio.muted {
}

#custom-notification {
  padding-right: 10px;
}

#tray {
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}
