@import "./themes/mocha.css";

* {
  font-family: Jetbrains Mono Nerd Font Propo;
  font-size: 16px;
  min-height: 0;
}

#waybar {
  background: transparent;
  color: @text;
}

#workspaces {
  border-radius: 1rem;
  background-color: @surface0;
}

#workspaces button {
  color: @lavender;
  border-radius: 1rem;
  padding: 0.4rem;
}

#workspaces button.active {
  color: @sky;
  border-radius: 1rem;
}

#workspaces button:hover {
  color: @sapphire;
  border-radius: 1rem;
}

#custom-music,
#tray,
#backlight,
#clock,
#cpu,
#pulseaudio,
#custom-search,
#custom-notification {
  background-color: @surface0;
}

#pulseaudio {
  color: @maroon;
  border-radius: 1rem 0 0 1rem;
  padding-left: 10px;
  padding-right: 10px;
}

#clock {
  color: @blue;
  border-radius: 0px 1rem 1rem 0px;
  margin-right: 5px;
  padding-right: 10px;
}

#tray {
  border-radius: 1rem;
  padding: 0 10px;
  margin-right: 5px;
}

#custom-notification {
  border-radius: 1rem;
  padding: 0 10px;
}
